:host {
  display: block;

  ion-item {
    --padding-start: 0;
    > ion-button {
      --border-radius: 0;
      margin-right: 8px;
      height: 100%;
      margin: 0;
      font-size: 24px;
      ion-icon,
      ion-text {
        font-size: 14px;
      }
    }
  }
}
