:host {
  display: block;

  ion-item {
    --padding-start: 0;
    > ion-button {
      --border-radius: 0;
      height: 100%;
      margin: 0;
      font-size: 24px;
      ion-icon,
      ion-text {
        font-size: 14px;
      }
    }

    ion-input {
      --padding-start: 8px;
    }
  }
}
